
.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.open-sans-noto{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
.txt1{
    font-size: 1rem;
}
.txt2{
    font-size: 1.375rem;
}
.txt3{
    font-size: 1.75rem;
}
.txt4{
    font-size: 2.5rem;
}
.txt5{
    font-size: 3.125rem;
    font-weight: bold;
}
.txt6{
    font-size: 4.0625rem;
    font-weight: 750;
}
.width{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 71px;
    margin: 30px auto 120px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 48px;
    
}
.list1{
    display: flex;
    text-align: center;
    gap: 10px;
    color: #000000;
}
.list1 img{
    margin-top: 0px;
    width: 24px;
    height: 24px;
}
header section{
    display: flex;
    height: 461px;
    justify-content: space-between;
   
    padding-bottom: 0;
    align-items: end;

}
header section img{
    width: 570px;
    height: 355px;
    
}
header section p{
    color: #00000077;
}
header section h1{
    margin-bottom: 0;
    font-weight: bold;
}
.section1{
    text-align: center;
}
.section1 h2{
    font-weight: bold;
    margin-bottom: 0px;
}
.section1 p{
    margin-top: 16px;
    color: #00000077;
    font-weight: 500;
} 
.section2{
    display:grid;
    grid-template-columns:repeat(4 , 1fr);
    gap: 30PX;
}
.section2 div{
    text-align: center;

}
.section2 div p{
    color: #111111;
    
}
.section2 div h3{
    font-weight: 700;
    margin-top: 20px;

}
.btn1{
    width: 270px;
    border: none;
    height: 50px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 30px;
}
#bage{
    max-width: 286px;
    height: 286px;
    margin-bottom:-270px;
    margin-left: 347px;
    margin-right:507px;
}
.section3{
    display: flex;
    justify-content: space-between;
    margin-top: 210px;
}
.section3 div ul{
    color: #00000077;
}
.section4{
    position: relative;
}
.icon{
    bottom: -100px;
    z-index: 5;
}
.section5{
    margin-bottom: 134px;
}
.div1{
    width: 367px;
    height: 201px;
    border-radius: 14px;
    background-image: url('./assets/deal-bloom.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.img1{
    text-align: center;
    padding: 65px 48px 50px 48px;
}
.img1 h3{
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
}
.img1 a{
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
}
.div2{
    width: 367px;
    height: 201px;
    border-radius: 14px;
    background-image: url('./assets/deal-ana.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 25px;
    
}
.img2{
    text-align: center;
    padding: 65px 48px 50px 48px;
}
.img2 h3{
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
}
.img2 a{
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
}
.div3{
    width: 753px;
    height: 423px;
    border-radius: 22px;
    background-image: url('./assets/deal-zabo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section6{
    display: flex;
    gap: 28px;
    margin-top: 120px;
}
.div3 div h2{
    font-weight: bold;
    font-size: 2.5rem;
    color: #FFFFFF;
}
.div3 div a{
    font-weight: 600;
    font-size: 1.75rem;
    color: #FFFFFF;
}
.img3{
    text-align: center;
    padding: 160px 140px 160px 115px;
}
.join{
   max-width: 1440px;
    margin: 0 auto; 
    background-image: url('./assets/news-letter-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 533px;
    margin-top: 120px;
}
.join div{
    text-align: center;
    padding-top:  199px;
}
.join div h1{
    font-weight: bold;
    color: #FFFFFF;
}
.join div input{
    width: 644px;
    height: 50px;
    padding-left: 20px;
    color: #00000077;
}
.join div button{
    width: 186px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    text-align: center;
    font-weight: 600;
    border: none;
}
.section7{
    display: flex;
    max-width: 1120px;
    height: 248px;
    margin: 50px 160px 50px 160px;
justify-content: space-between;
}
.ul1{
    list-style: none;
}
.ul1 li a{
    color: #6B7280;
    text-decoration: none;
}
.ul1 li{
    margin-bottom: 26px;
}
.p1{
    color: #00000077;
}
.ul2{
    width: 216px;
    height: 36px;
    display: flex;
    text-align: center;
    gap: 24px;
    
}

